html {
  background-image: url("background.gif");
}
body {
  display:flex;
  justify-content: center;
  align-items:center; 
  height:100vh;
  overflow: hidden;
}
section {
  width: 75%;
}
.icon-grid {
  display:flex;
  justify-content: center;
}
.icon-container {
  margin-top:48px;
  width:50%;
  display:grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.link-container {
  margin-top:24px;
  display:flex;
  justify-content: center;
}
.link-container > a {
  width:75%;
  border: 2px solid #ddd;
  padding:4px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, rgba(255,255,255,0.25), rgba(0,0,0,.75), rgba(0,0,0,1));
  background-size:300% 300%;
  transition: all .2s ease;
  animation: buttonBackground 5s ease infinite;
}
.link-container > a:hover {
  background: rgba(0,0,0,1);
}
a > img {
  width:100%;
}
form {
  display: flex;
  justify-content: center;
}
.google-search {
  width:fit-content;
  display: flex;
  justify-content: center;
  height:32px;
  background:#fff;
  border-radius: 100px;
  padding:8px;
}
.google-search > input {
  border:none;
  margin:0;
  margin-left:4px
}
.google-search > input:focus {
  outline:none;
}
.submit-google > img {
  height:32px;
  margin-right:2px;
}
.submit-google:hover {
  cursor:pointer;
}
.separator {
  width:0px;
  height:32px;
  margin-right:6px;
  border-left:1px solid #999;
}
.weather-container {
  display:flex;
  justify-content: center;
  margin-bottom:24px;
}
.weatherwidget-io {
  width:75%;
}
#send-to-google img {
  transition: all .2s ease;
}
.google-search:hover img {
  -webkit-transform:rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}
@keyframes buttonBackground {
  0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}